html, body {
    margin: 0;
    height: 100%;
}

header {
    background: rgb(255,206,0);
    background: linear-gradient(90deg, rgba(255,206,0,1) 0%, rgba(255,154,0,1) 100%);   
    padding: 0;
    margin: auto;
}


.botoes li{
    list-style: none;
    box-sizing: border-box;
    
}

.botoes ul {
    display: flex;
    justify-content: center;
    
    
}

a.btao {
    color: #242423;
    text-decoration: none;
    padding: 4px;
    margin: 0 10px 10px 10px;
}

.btao {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.08);
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

a:hover {
    color: #F5CB5C;
}

.site-title,
.site-subtitle {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242423;
    text-align: center;
    margin: 2px

}

.site-title:hover {
    color:white;
    
}

.site-subtitle {
    font-size: small;
}
